body{
  background-image: linear-gradient(152deg, #3023ae, #c86dd7);
  background-repeat: no-repeat;
  min-height: 100%;
  background-attachment: fixed;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .Rectangle-out{
  background-image: linear-gradient(152deg, #3023ae, #c86dd7);
  width: 100%;
  height: 100%;
} */
.Rectangle{
  width: 335px;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
  background-color: #ffffff;
  margin-top: 2%;
}

.Create-A-New-Account{
  /* width: 202px; */
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;  
}
.label-style{
  text-align: left;
  margin-left: 5%;
}

.Rectangle-Copy-3{
  width: 315px;
  height: 50px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #000000;
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 5%;
 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
